    /* ---------------------------.css -----------------------------*/

    /* ----------*about-us *-------------- */

    .about-us-img {
        background-image: url('../images/axis-1682871_1920.jpg');
    }

    .about-us {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* ----------*about-us-hidden *-------------- */

    .about-us-hidden {
        display: none;
    }

    /* ----------* about-contact*-------------- */

    /* --------------------* *----------------------- */

    /* --------------------------------big windows-------------------------- */

    @media only screen and (max-device-width: 1300px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }

    /* -----------------------------ipad-pro-------------------------------- */

    @media screen and (max-width: 1100px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }

    /* ------------------------------ipad--------------------------------- */

    @media screen and (max-width: 990px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }

    /* ----------------------------mobile devices-------------------------- */

    @media screen and (max-width: 700px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }

    /* -------------------- very small mobile devices---------------------------- */

    @media screen and (max-width: 550px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }