/* ------------footer.css------------------ */

/* .fab:hover {
    border-radius: 50%;
    transition: 0.3s;
}

.fa-facebook-f:hover {
    background-color: #3b5998;
    padding: 10px 12px;
}

.fa-twitter:hover {
    background-color: #00acee;
    padding: 10px;
}

.fa-linkedin-in:hover {
    background-color: #0e76a8;
    padding: 10px 12px;
} */