    /* ---------------------------resources.css -----------------------------*/

    /* ----------* resource-img*-------------- */

    /* .resource-img {
        background-image: url('../images/electrician-1080570_640.jpg');
    } */

    /* .resource-text {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
    } */

    .resource-content img {
        max-width: 100%;
        height: auto;
    }

    /* --------------------------------* resources list*--------------------------- */

    /* ----------* *-------------- */

    /* --------------------* *----------------------- */

    /* --------------------------------big windows-------------------------- */

    @media only screen and (max-device-width: 1300px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }

    /* -----------------------------ipad-pro-------------------------------- */

    @media screen and (max-width: 1100px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }

    /* ------------------------------ipad--------------------------------- */

    @media screen and (max-width: 990px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }

    /* ----------------------------mobile devices-------------------------- */

    @media screen and (max-width: 700px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }

    /* -------------------- very small mobile devices---------------------------- */

    @media screen and (max-width: 550px) {
        /* ----------* *-------------- */
        /* ----------* *-------------- */
        /* ----------* *-------------- */
    }